/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*@dark:        		#1E1E20;
@grey:				#2A2C2B;
@blue:				#374140;
@beige:				#D9CB9E;
@red:				#DC3522;
@light:				#F1ECDB;*/
table {
  color: inherit;
}
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/*
NOTE: For older browser support (and some mobile),
don't use the shorthand to define *different* corners.

USAGE: .border-radius(4px);

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .box-shadow(0,0,4px,#444); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.button:active,
.button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.alert-button,
.alert-button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
  font-size: 14px;
  border-color: #a1430a;
  background-color: #b94d0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1570d), to(#b94d0c));
  background-image: -webkit-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -moz-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -o-linear-gradient(top, #d1570d, #b94d0c);
  background-image: linear-gradient(to bottom, #d1570d, #b94d0c);
  -webkit-box-shadow: inset 0 0 3px #f3813d;
  -moz-box-shadow: inset 0 0 3px #f3813d;
  box-shadow: inset 0 0 3px #f3813d;
}
.alert-button:hover,
.alert-button:visited:hover,
.alert-button:focus,
.alert-button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.alert-button:active,
.alert-button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.alert-button:hover,
.alert-button:visited:hover,
.alert-button:focus,
.alert-button:visited:focus {
  border-color: #893909;
  background-color: #a1430a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be4f0c), to(#a1430a));
  background-image: -webkit-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -moz-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -o-linear-gradient(top, #be4f0c, #a1430a);
  background-image: linear-gradient(to bottom, #be4f0c, #a1430a);
}
.alert-button:active,
.alert-button:visited:active {
  background-color: #d1570d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b94d0c), to(#d1570d));
  background-image: -webkit-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -moz-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -o-linear-gradient(top, #b94d0c, #d1570d);
  background-image: linear-gradient(to bottom, #b94d0c, #d1570d);
}
.small-button,
.small-button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
  font-size: 14px;
  margin: 0 4px;
  padding: 4px 12px;
  font-weight: normal;
}
.small-button:hover,
.small-button:visited:hover,
.small-button:focus,
.small-button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.small-button:active,
.small-button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.really-small-button,
.really-small-button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
  font-size: 14px;
  margin: 0 4px;
  padding: 4px 12px;
  font-weight: normal;
  padding: 0px 4px;
  line-height: 17px;
}
.really-small-button:hover,
.really-small-button:visited:hover,
.really-small-button:focus,
.really-small-button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.really-small-button:active,
.really-small-button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.small-alert-button,
.small-alert-button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
  font-size: 14px;
  border-color: #a1430a;
  background-color: #b94d0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1570d), to(#b94d0c));
  background-image: -webkit-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -moz-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -o-linear-gradient(top, #d1570d, #b94d0c);
  background-image: linear-gradient(to bottom, #d1570d, #b94d0c);
  -webkit-box-shadow: inset 0 0 3px #f3813d;
  -moz-box-shadow: inset 0 0 3px #f3813d;
  box-shadow: inset 0 0 3px #f3813d;
  margin: 0 4px;
  padding: 4px 12px;
  font-weight: normal;
}
.small-alert-button:hover,
.small-alert-button:visited:hover,
.small-alert-button:focus,
.small-alert-button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.small-alert-button:active,
.small-alert-button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.small-alert-button:hover,
.small-alert-button:visited:hover,
.small-alert-button:focus,
.small-alert-button:visited:focus {
  border-color: #893909;
  background-color: #a1430a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be4f0c), to(#a1430a));
  background-image: -webkit-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -moz-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -o-linear-gradient(top, #be4f0c, #a1430a);
  background-image: linear-gradient(to bottom, #be4f0c, #a1430a);
}
.small-alert-button:active,
.small-alert-button:visited:active {
  background-color: #d1570d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b94d0c), to(#d1570d));
  background-image: -webkit-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -moz-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -o-linear-gradient(top, #b94d0c, #d1570d);
  background-image: linear-gradient(to bottom, #b94d0c, #d1570d);
}
.really-small-alert-button,
.really-small-alert-button:visited {
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  padding: 5px 10px;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px #6cb538;
  -moz-box-shadow: inset 0 0 3px #6cb538;
  box-shadow: inset 0 0 3px #6cb538;
  font-size: 14px;
  border-color: #a1430a;
  background-color: #b94d0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1570d), to(#b94d0c));
  background-image: -webkit-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -moz-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -o-linear-gradient(top, #d1570d, #b94d0c);
  background-image: linear-gradient(to bottom, #d1570d, #b94d0c);
  -webkit-box-shadow: inset 0 0 3px #f3813d;
  -moz-box-shadow: inset 0 0 3px #f3813d;
  box-shadow: inset 0 0 3px #f3813d;
  margin: 0 4px;
  padding: 4px 12px;
  font-weight: normal;
  padding: 0px 4px;
  line-height: 17px;
}
.really-small-alert-button:hover,
.really-small-alert-button:visited:hover,
.really-small-alert-button:focus,
.really-small-alert-button:visited:focus {
  color: #ffffff;
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.really-small-alert-button:active,
.really-small-alert-button:visited:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.really-small-alert-button:hover,
.really-small-alert-button:visited:hover,
.really-small-alert-button:focus,
.really-small-alert-button:visited:focus {
  border-color: #893909;
  background-color: #a1430a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be4f0c), to(#a1430a));
  background-image: -webkit-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -moz-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -o-linear-gradient(top, #be4f0c, #a1430a);
  background-image: linear-gradient(to bottom, #be4f0c, #a1430a);
}
.really-small-alert-button:active,
.really-small-alert-button:visited:active {
  background-color: #d1570d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b94d0c), to(#d1570d));
  background-image: -webkit-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -moz-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -o-linear-gradient(top, #b94d0c, #d1570d);
  background-image: linear-gradient(to bottom, #b94d0c, #d1570d);
}
.list-button,
.list-button:visited {
  border: 1px solid #dedede;
  border-top-color: #ededed;
  border-left-color: #ededed;
  padding: 2px 8px;
  color: #303030;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.75);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  -webkit-box-shadow: 0 0 #ffffff inset 3px;
  -moz-box-shadow: 0 0 #ffffff inset 3px;
  box-shadow: 0 0 #ffffff inset 3px;
}
.list-button:hover,
.list-button:visited:hover,
.list-button:focus,
.list-button:visited:focus {
  color: #000000;
  border: 1px solid #dedede;
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
}
.list-button:active,
.list-button:visited:active {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
form {
  width: 500px;
  margin: 0 auto;
}
form > h3 {
  padding-top: 10px;
}
form > p {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.form_separator {
  clear: both;
  border-bottom: solid 1px #E8E8E8;
  margin: 20px 0;
}
.form_section_text {
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: solid 1px #E8E8E8;
}
.form_response {
  margin-bottom: 5px;
  margin-left: 210px;
  height: 1.5em;
  line-height: 1.5em;
}
.form_response .loading {
  display: none;
  vertical-align: middle;
  background: url('../core/images/loading.gif');
  width: 16px;
  height: 16px;
}
.form_response .success {
  display: none;
  vertical-align: middle;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #477725;
  white-space: nowrap;
}
.form_response .error {
  display: none;
  vertical-align: middle;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #477725;
  white-space: nowrap;
  color: #B94A48;
}
.form_errors {
  display: none;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 95%;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #B94A48;
  background: #F2DEDE;
  border: solid 1px #EED3D7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
}
.form_item_error {
  display: none;
  margin-bottom: 5px;
  margin-left: 200px;
}
.form_item_error .box {
  display: inline-block;
  background: #F2DEDE;
  border: solid 1px #EED3D7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 999;
  padding: 5px;
}
.form_item_error .box .arrow {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #F2DEDE;
  position: absolute;
  left: 5px;
  top: -10px;
  z-index: 1001;
}
.form_item_error .box .arrow-border {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #EED3D7;
  position: absolute;
  top: -12px;
  z-index: 1000;
}
.form_item_error .box p {
  padding: 0;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #B94A48;
  font-size: 70%;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-weight: bold;
  white-space: nowrap;
}
.form_item_error .box p i {
  font-size: 150%;
  vertical-align: middle;
}
.form_item_error .box p span {
  vertical-align: middle;
}
label {
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 8px;
  padding-top: 1px;
}
label.empty_small {
  padding-top: 4px;
}
label > .small {
  color: #666666;
  display: block;
  font-size: 11px;
  font-weight: normal;
  text-align: right;
  width: 200px;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
}
input,
select,
textarea {
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: -moz-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: -o-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
  float: left;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 4px 6px;
  margin: 8px 0 8px 10px;
  width: 250px;
}
input.unused,
select.unused,
textarea.unused {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -o-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  border: 1px solid #F0F0F0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
input.hidden,
select.hidden,
textarea.hidden {
  display: none;
}
textarea.markdown {
  float: none;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  font-family: monospace;
}
span.equal {
  float: left;
  padding-top: 13px;
  color: #666666;
  width: 3em;
  text-align: center;
}
span.comma {
  float: left;
  padding-top: 13px;
  color: #666666;
  width: 1em;
  text-align: center;
}
form ul {
  margin: 0;
  margin-top: -32px;
  margin-left: 200px;
  padding: 0;
}
form ul > li input {
  margin-bottom: 0;
}
form ul > li:last-of-type span.comma {
  display: none;
}
input.array_item {
  /* all but first item */

}
input.array_item + span + input.array_item {
  margin-left: 210px;
}
input.parameter_key {
  width: 75px;
  /* all but first key */

}
input.parameter_val + input.parameter_key {
  margin-top: -10px;
  margin-left: 210px;
}
input.parameter_val + input.parameter_key + span {
  margin-top: -5px;
}
input.parameter_val {
  width: 150px;
  margin-left: 0;
  /* all but first value */

}
input.parameter_val + input.parameter_key + span + input.parameter_val {
  margin-top: -10px;
}
button[type="submit"] {
  float: left;
  clear: both;
  margin-left: 210px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/******************/
/* general layout */
/******************/
@font-face {
  font-family: "SourceSansRegular";
  src: url('../core/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../core/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../core/fonts/sourcesanspro-regular-webfont.svg') format('svg'), url('../core/fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../core/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansLight";
  src: url('../core/fonts/sourcesanspro-light-webfont.eot');
  src: url('../core/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../core/fonts/sourcesanspro-light-webfont.svg') format('svg'), url('../core/fonts/sourcesanspro-light-webfont.woff') format('woff'), url('../core/fonts/sourcesanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #374147;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: justify;
}
.page-wrapper {
  display: none;
  /* gets faded in */

  margin: 0 auto;
  width: 1200px;
  color: #303030;
}
.page-wrapper-slim {
  display: none;
  /* gets faded in */

  margin: 0 auto;
  margin-bottom: 40px;
  width: 700px;
  color: #303030;
}
h1 {
  margin: 20px 0;
  font-family: SourceSansRegular, Arial, Helvetica, sans-serif;
  font-size: 50pt;
  text-align: center;
  color: #ffffff;
}
.page-wrapper h1 {
  margin-left: 200px;
}
.main {
  margin: 8px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.45);
}
.header {
  background: #f2f2f2;
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #e4e4e4;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  background-color: white;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #e4e4e4;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px 60px;
}
#user {
  color: #E0E0E0;
  font-size: 90%;
  padding-bottom: 5px;
  text-align: right;
}
#left-column {
  position: absolute;
  width: 200px;
  border-right: 1px solid #808080;
}
#left-column ul {
  margin: 0;
}
#left-column li > a {
  display: block;
  padding: 6px 20px;
  text-decoration: none;
  font-family: SourceSansRegular, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #303030;
  letter-spacing: 1px;
  background-color: #f0f0f0;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}
#left-column li > a#selected {
  background-color: #a9cc66;
  border-top: 1px solid #b4d279;
  border-bottom: 1px solid #9ec653;
}
#left-column li > a:hover {
  background-color: #fde792;
  border-top: 1px solid #fdedab;
  border-bottom: 1px solid #fde179;
}
#left-column li.separator {
  height: 3px;
  border: 0;
  background-color: #808080;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}
#right-column {
  margin-left: 200px;
  padding: 30px 50px;
  width: 1006px;
  background: #ffffff;
  border-left: 3px solid #f2f2f2;
  border-right: 3px solid #f2f2f2;
}
/*****************/
/* content types */
/*****************/
h2 {
  font-family: SourceSansLight, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2em;
  color: #477725;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  text-shadow: 0 1px 1px #ffffff;
}
h2:first-of-type {
  padding-top: 0;
}
.header h2 {
  padding-bottom: 0;
  margin-bottom: 10px;
}
h3 {
  font-family: SourceSansRegular, Arial, Helvetica, sans-serif;
  color: #477725;
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
}
h3:first-of-type {
  margin-top: 0;
}
h4 {
  font-family: SourceSansRegular, Arial, Helvetica, sans-serif;
  color: #477725;
  text-align: center;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  padding-top: 2px;
  padding-bottom: 20px;
}
a {
  color: #d1570d;
}
a:hover {
  color: #e9610e;
}
a:visited {
  color: #b94d0c;
}
.button {
  font-size: 14px;
}
/**********/
/* tables */
/**********/
ul {
  list-style-type: none;
  padding: 0;
}
ul.table {
  width: 902px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.table > li {
  height: 33px;
  border-top: 1px solid #e6e6e6;
  font-size: 90%;
  background-color: #ffffff;
}
ul.table > li:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
ul.table > li:nth-child(odd) {
  background-color: #fafafa;
}
ul.table > li:first-of-type {
  border-top: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
}
ul.table > li:first-of-type > div:first-of-type {
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
ul.table > li:first-of-type > div:last-of-type {
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
ul.table > li:last-of-type {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.table > li:last-of-type > div:first-of-type {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
ul.table > li:last-of-type > div:last-of-type {
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.table > li:hover:not(:first-of-type) > div {
  background-color: #fde792;
}
ul.table > li.unused {
  font-style: italic;
  color: #a0a0a0;
}
ul.table > li > div {
  line-height: 22px;
  float: left;
  padding: 5px 15px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul.table > li > div * {
  line-height: initial;
}
ul.grid {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
ul.grid li {
  display: inline-block;
  padding: 25px 15px;
  border: #fafafa 1px solid;
}
ul.grid li:hover {
  background-color: #f2f2f2;
}
ul.grid-3 {
  width: 900px;
}
ul.grid-3 > li {
  width: 300px;
}
/*****************/
/* page specific */
/*****************/
#database td {
  border: 1px solid #e0e0e0;
  font-size: 11px;
  padding: 4px 8px;
}
#themes li {
  cursor: pointer;
}
#themes li h4,
#themes li div {
  width: 256px;
  overflow: hidden;
  text-align: center;
}
#themes li div {
  font-size: 90%;
}
#themes li img {
  width: 256px;
  height: 256px;
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
#themes li.current {
  cursor: auto;
  background-color: #93bf40;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfd98c), to(#93bf40));
  background-image: -webkit-linear-gradient(top, #bfd98c, #93bf40);
  background-image: -moz-linear-gradient(top, #bfd98c, #93bf40);
  background-image: -o-linear-gradient(top, #bfd98c, #93bf40);
  background-image: linear-gradient(to bottom, #bfd98c, #93bf40);
}
#themes li.current h4 {
  color: white;
}
#assets #create_directory {
  margin: 0 auto;
  width: 400px;
  margin-bottom: 30px;
}
#assets #create_directory input {
  width: 240px;
  margin: 0;
  float: none;
}
#assets #create_directory a {
  width: 150px;
  margin-left: 10px;
  margin-right: 0;
}
#assets #directories_assets {
  width: 602px;
  margin-bottom: 30px;
}
#assets #directories_assets img {
  vertical-align: middle;
  margin-right: 10px;
}
#assets #images li {
  position: relative;
  vertical-align: top;
}
#assets #images li .delete {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 11px;
}
#assets #images li .caption {
  overflow: hidden;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
#assets #images li img {
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
#assets #images li img.small {
  margin: 10px 0;
}
#ajax_error {
  white-space: pre;
  padding: 0 15px;
}
#logs li:not(:first-of-type) {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  height: auto;
  border: 0;
  background-color: white;
}
#logs li:not(:first-of-type).error {
  background-color: #5a1f00;
  color: white;
}
#logs li:not(:first-of-type).warning {
  background-color: #B94A48;
  color: white;
}
#logs li:not(:first-of-type).notice {
  background-color: #f4f9ec;
  color: #A0A0A0;
}
#logs li:not(:first-of-type).request {
  background-color: #dfecc6;
  color: #A0A0A0;
}
#logs li:not(:first-of-type).caching {
  background-color: #eaf2d9;
  color: #A0A0A0;
}
#logs li:not(:first-of-type).empty {
  border-top: #b4d279 1px solid;
  border-bottom: #b4d279 1px solid;
}
#logs li:not(:first-of-type):hover {
  color: #303030;
}
#logs li:not(:first-of-type) > div {
  line-height: 100%;
}
/**********/
/* simple */
/**********/
strong {
  font-weight: bold;
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.centered {
  text-align: center;
}
.vertical_top {
  vertical-align: top;
}
.clear {
  clear: both;
}
.no-underline {
  text-decoration: none;
}
.no_wrap {
  white-space: nowrap;
}
.hidden {
  display: none;
}
.pre_wrap {
  white-space: pre-wrap;
}
/*********/
/* other */
/*********/
.markItUp {
  margin-left: -200px;
  padding-top: 10px;
  width: 900px;
}
.markItUpEditor {
  height: 500px;
}
.disabled {
  font-style: italic;
  color: #a0a0a0;
}
.halfwidth-column {
  float: left;
  width: 50%;
  padding: 0 10px;
}
.progress_bar {
  display: inline-block;
  width: 100%;
  height: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f2f2f2;
  border: #e6e6e6 1px solid;
}
.progress_bar div.bar {
  position: relative;
  top: -2px;
  display: inline-block;
  height: 14px;
  margin: 0 -1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #9ec653;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b4d279), to(#9ec653));
  background-image: -webkit-linear-gradient(top, #b4d279, #9ec653);
  background-image: -moz-linear-gradient(top, #b4d279, #9ec653);
  background-image: -o-linear-gradient(top, #b4d279, #9ec653);
  background-image: linear-gradient(to bottom, #b4d279, #9ec653);
  border: #93bf40 1px solid;
}
.progress_bar div.bar_alert {
  background-color: #b94d0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9610e), to(#b94d0c));
  background-image: -webkit-linear-gradient(top, #e9610e, #b94d0c);
  background-image: -moz-linear-gradient(top, #e9610e, #b94d0c);
  background-image: -o-linear-gradient(top, #e9610e, #b94d0c);
  background-image: linear-gradient(to bottom, #e9610e, #b94d0c);
  border: #a1430a 1px solid;
}
a.halt {
  text-decoration: none;
}
a.sure {
  display: none;
  text-decoration: none;
  background-color: #B94A48;
  color: white;
}
a.halt-stop {
  text-decoration: line-through;
}
.inline-rounded {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 2px;
}
