body {
    padding-top:33px;
}

#admin-bar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:33px;
    background-color:#282F33;
    color:#E0E0E0;
    border-bottom:1px solid #414D54;
    padding:2px 0;
    z-index:7999;

    font-family: Arial,Helvetica,sans-serif;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

#admin-bar a {
    color:#D1570D;
}

#admin-bar a:hover {
    color:lighten(#D1570D, 5%);
}

#admin-bar a:visited {
    color:darken(#D1570D, 5%);
}

#admin-bar > div {
    height:28px;
}

#admin-bar #publish-site  {
    float:left;
    margin-left:20px;
    color: #FFFFFF;
}

#admin-bar #publish-site.fade {
    opacity:0.2;
}

#admin-bar #navigate {
    display:inline-block;
    float:left;
    margin-left:20px;
    line-height:28px;
    font-size:90%;
}

#admin-bar #navigate a {
    text-decoration:none;
}

#admin-bar #current-user {
    display:inline-block;
    float:right;
    line-height:28px;
    font-size:90%;
    margin-right:20px;
}

#admin-bar #current-user a {
    margin-left:5px;
}

#edit,
#save {
    z-index:6999;
    position:absolute;
    text-align:right;
}

#edit a,
#save a {
    opacity: 0.25;
    transition: opacity 0.5s;
}

#edit a:hover,
#save a:hover {
    opacity: 1;
}

#save {
    display:none;
}

#publish-site,
#edit > a,
#save > a {
    display:inline-block;

    border: 1px solid #294415;
    border-top-color: #375c1d;
    border-left-color: #375c1d;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #3b641f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
    background-image: -webkit-linear-gradient(top, #477725, #3b641f);
    background-image: -moz-linear-gradient(top, #477725, #3b641f);
    background-image: -o-linear-gradient(top, #477725, #3b641f);
    background-image: linear-gradient(to bottom, #477725, #3b641f);
    -webkit-box-shadow: inset 0 0 3px #6cb538;
    -moz-box-shadow: inset 0 0 3px #6cb538;
    box-shadow: inset 0 0 3px #6cb538;

    font-size: 14px;
    padding: 4px 12px;
    margin-top:1px;
}
/*
[contenteditable="true"] {
    -webkit-box-shadow: 0 0 3px #3b641f;
    -moz-box-shadow: 0 0 3px #3b641f;
    box-shadow: 0 0 3px #3b641f;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
*/
