[data-dexeditable] {
  outline: 0;
}
[contenteditable="true"] img {
  display: block;
}
.dexedit-img-resize-nwse {
  cursor: nwse-resize;
}
.dexedit-img-resize-nesw {
  cursor: nesw-resize;
}
.dexedit-img-placeholder {
  display: none;
  z-index: -1;
  border: dashed 1px black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dexedit-img {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin: -10px;
  padding: 10px;
}
.dexedit-img > div.dexedit-img-resize {
  display: none;
}
.dexedit-img > div.dexedit-img-resize > div {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #404040;
}
.dexedit-img > div.dexedit-img-resize > div.dexedit-img-resize-tl {
  top: 7px;
  left: 7px;
  cursor: nwse-resize;
}
.dexedit-img > div.dexedit-img-resize > div.dexedit-img-resize-tr {
  top: 7px;
  right: 7px;
  cursor: nesw-resize;
}
.dexedit-img > div.dexedit-img-resize > div.dexedit-img-resize-bl {
  bottom: 7px;
  left: 7px;
  cursor: nesw-resize;
}
.dexedit-img > div.dexedit-img-resize > div.dexedit-img-resize-br {
  bottom: 7px;
  right: 7px;
  cursor: nwse-resize;
}
.dexedit-img > div.dexedit-img-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  color: #F0F0F0;
  font-size: 15px;
  height: 32px;
  background-color: #374147;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#414d54), to(#374147));
  background-image: -webkit-linear-gradient(top, #414d54, #374147);
  background-image: -moz-linear-gradient(top, #414d54, #374147);
  background-image: -o-linear-gradient(top, #414d54, #374147);
  background-image: linear-gradient(to bottom, #414d54, #374147);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 0 #262625;
  -moz-box-shadow: 0 0 2px 0 #262625;
  box-shadow: 0 0 2px 0 #262625;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 24px;
  font-size: 80%;
}
.dexedit-img > div.dexedit-img-menu > span {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-left: 1px solid #414D54;
  border-right: 1px solid #374147;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.dexedit-img > div.dexedit-img-menu > span:not(.enabled):hover {
  border-left: 1px solid #4c5961;
  border-right: 1px solid #414D54;
  background-color: #414d54;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c5961), to(#414d54));
  background-image: -webkit-linear-gradient(top, #4c5961, #414d54);
  background-image: -moz-linear-gradient(top, #4c5961, #414d54);
  background-image: -o-linear-gradient(top, #4c5961, #414d54);
  background-image: linear-gradient(to bottom, #4c5961, #414d54);
}
.dexedit-img > div.dexedit-img-menu > span.enabled,
.dexedit-img > div.dexedit-img-menu > span.enabled:hover {
  border-left: 1px solid #282F33;
  border-right: 1px solid #282F33;
  background-color: #282F33;
}
.dexedit-img > div.dexedit-img-menu > span:first-of-type,
.dexedit-img > div.dexedit-img-menu > span:hover:first-of-type {
  padding-left: 2px;
  border-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dexedit-img > div.dexedit-img-menu > span:last-of-type,
.dexedit-img > div.dexedit-img-menu > span:hover:last-of-type {
  padding-right: 2px;
  border-right: 0;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dexedit-img > div.dexedit-img-menu > span {
  width: 24px;
  line-height: 24px;
}
.dexedit-img > div.dexedit-img-menu > span:first-of-type,
.dexedit-img > div.dexedit-img-menu > span:hover:first-of-type {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dexedit-img > div.dexedit-img-menu > span:last-of-type,
.dexedit-img > div.dexedit-img-menu > span:hover:last-of-type {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dexedit-img > img {
  cursor: move;
}
.dexedit-img > img.dexedit-img-resize-nwse {
  cursor: nwse-resize;
}
.dexedit-img > img.dexedit-img-resize-nesw {
  cursor: nesw-resize;
}
.dexedit-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  color: #F0F0F0;
  font-size: 15px;
  height: 32px;
  background-color: #374147;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#414d54), to(#374147));
  background-image: -webkit-linear-gradient(top, #414d54, #374147);
  background-image: -moz-linear-gradient(top, #414d54, #374147);
  background-image: -o-linear-gradient(top, #414d54, #374147);
  background-image: linear-gradient(to bottom, #414d54, #374147);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 0 #262625;
  -moz-box-shadow: 0 0 2px 0 #262625;
  box-shadow: 0 0 2px 0 #262625;
}
.dexedit-menu > span {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-left: 1px solid #414D54;
  border-right: 1px solid #374147;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.dexedit-menu > span:not(.enabled):hover {
  border-left: 1px solid #4c5961;
  border-right: 1px solid #414D54;
  background-color: #414d54;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c5961), to(#414d54));
  background-image: -webkit-linear-gradient(top, #4c5961, #414d54);
  background-image: -moz-linear-gradient(top, #4c5961, #414d54);
  background-image: -o-linear-gradient(top, #4c5961, #414d54);
  background-image: linear-gradient(to bottom, #4c5961, #414d54);
}
.dexedit-menu > span.enabled,
.dexedit-menu > span.enabled:hover {
  border-left: 1px solid #282F33;
  border-right: 1px solid #282F33;
  background-color: #282F33;
}
.dexedit-menu > span:first-of-type,
.dexedit-menu > span:hover:first-of-type {
  padding-left: 2px;
  border-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dexedit-menu > span:last-of-type,
.dexedit-menu > span:hover:last-of-type {
  padding-right: 2px;
  border-right: 0;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dexedit-menu > span.dexedit-menu-h4 {
  font-size: 80%;
  vertical-align: top;
}
.dexedit-menu > .dexedit-menu-arrow,
.dexedit-menu > .dexedit-menu-arrow-upsidedown {
  position: absolute;
  bottom: -5px;
  margin-left: -5px;
  border-top: 5px solid #374147;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 0;
  height: 0;
}
.dexedit-menu > .dexedit-menu-arrow-upsidedown {
  top: -5px;
  bottom: 0;
  border-top: 0;
  border-bottom: 5px solid #374147;
}
