.dex-api .status {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 7999;
}
.dex-api .status > div {
  display: none;
  white-space: nowrap;
}
.dex-api .status > div > span {
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #374147;
  vertical-align: middle;
  color: #F0F0F0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.dex-api .status > div > i {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  font-size: 24px;
}
.dex-api .status > div.success > i {
  color: #24c279;
}
.dex-api .status > div.error > i {
  color: #D11F49;
}
.dex-api.load-status > div {
  display: none;
  min-width: 100%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dex-api.load-status > div.empty {
  color: #D0D0D0;
  font-style: italic;
}
.dex-api.load-status > div.error {
  color: #D11F49;
}
.dex-api.console {
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: 800px;
  height: 250px;
  font-size: 12px;
}
@media only screen and (max-device-width: 1205px) {
  .dex-api .status {
    position: fixed;
    top: 5px;
    right: 5px;
  }
}
@font-face {
  font-family: "SourceSansRegular";
  src: url('../core/fonts/sourcesanspro-regular-webfont.eot');
  src: url('../core/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../core/fonts/sourcesanspro-regular-webfont.svg') format('svg'), url('../core/fonts/sourcesanspro-regular-webfont.woff') format('woff'), url('../core/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SourceSansLight";
  src: url('../core/fonts/sourcesanspro-light-webfont.eot');
  src: url('../core/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../core/fonts/sourcesanspro-light-webfont.svg') format('svg'), url('../core/fonts/sourcesanspro-light-webfont.woff') format('woff'), url('../core/fonts/sourcesanspro-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 33px;
}
.dex-admin-bar {
  padding: 2px 0;
  border-bottom: 1px solid #414D54;
  background-color: #282F33;
  width: 100%;
  height: 33px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7999;
  color: #E0E0E0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dex-admin-bar a {
  color: #D1570D;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}
.dex-admin-bar a:hover {
  color: #e9610e;
}
.dex-admin-bar a:visited {
  color: #b94d0c;
}
.dex-admin-bar > div {
  height: 28px;
}
.dex-admin-bar > div:nth-child(2) {
  display: none;
}
.dex-admin-bar .navigate {
  display: inline-block;
  float: left;
  margin-left: 1em;
  line-height: 28px;
}
.dex-admin-bar .navigate a {
  text-decoration: none;
}
.dex-admin-bar .current-user {
  display: inline-block;
  float: right;
  margin-right: 1em;
  line-height: 28px;
}
.dex-admin-bar .current-user a {
  margin-left: 5px;
}
.dex-admin-bar .dexedit-insert {
  display: inline-block;
  margin-left: 4em;
  line-height: 28px;
}
.dex-popup-wrapper {
  /*! normalize.css v2.1.3 | MIT License | git.io/normalize */
  /* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
  /**
 * Correct `block` display not defined in IE 8/9.
 */
  /**
 * Correct `inline-block` display not defined in IE 8/9.
 */
  /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
  /**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
  /* ==========================================================================
   Base
   ========================================================================== */
  /**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
  /**
 * Remove default margin.
 */
  /* ==========================================================================
   Links
   ========================================================================== */
  /**
 * Remove the gray background color from active links in IE 10.
 */
  /**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
  /* ==========================================================================
   Typography
   ========================================================================== */
  /**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
  /**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address styling not present in Safari 5 and Chrome.
 */
  /**
 * Address differences between Firefox and other browsers.
 */
  /**
 * Address styling not present in IE 8/9.
 */
  /**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
  /**
 * Improve readability of pre-formatted text in all browsers.
 */
  /**
 * Set consistent quote types.
 */
  /**
 * Address inconsistent and variable font size in all browsers.
 */
  /**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
  /* ==========================================================================
   Embedded content
   ========================================================================== */
  /**
 * Remove border when inside `a` element in IE 8/9.
 */
  /**
 * Correct overflow displayed oddly in IE 9.
 */
  /* ==========================================================================
   Figures
   ========================================================================== */
  /**
 * Address margin not present in IE 8/9 and Safari 5.
 */
  /* ==========================================================================
   Forms
   ========================================================================== */
  /**
 * Define consistent border, margin, and padding.
 */
  /**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
  /**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
  /**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
  /**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
  /**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
  /**
 * Re-set default cursor for disabled elements.
 */
  /**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
  /**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
  /**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
  /**
 * Remove inner padding and border in Firefox 4+.
 */
  /**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
  /* ==========================================================================
   Tables
   ========================================================================== */
  /**
 * Remove most spacing between table cells.
 */
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: justify;
}
.dex-popup-wrapper article,
.dex-popup-wrapper aside,
.dex-popup-wrapper details,
.dex-popup-wrapper figcaption,
.dex-popup-wrapper figure,
.dex-popup-wrapper footer,
.dex-popup-wrapper header,
.dex-popup-wrapper hgroup,
.dex-popup-wrapper main,
.dex-popup-wrapper nav,
.dex-popup-wrapper section,
.dex-popup-wrapper summary {
  display: block;
}
.dex-popup-wrapper audio,
.dex-popup-wrapper canvas,
.dex-popup-wrapper video {
  display: inline-block;
}
.dex-popup-wrapper audio:not([controls]) {
  display: none;
  height: 0;
}
.dex-popup-wrapper [hidden],
.dex-popup-wrapper template {
  display: none;
}
.dex-popup-wrapper html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
.dex-popup-wrapper body {
  margin: 0;
}
.dex-popup-wrapper a {
  background: transparent;
}
.dex-popup-wrapper a:focus {
  outline: thin dotted;
}
.dex-popup-wrapper a:active,
.dex-popup-wrapper a:hover {
  outline: 0;
}
.dex-popup-wrapper h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.dex-popup-wrapper abbr[title] {
  border-bottom: 1px dotted;
}
.dex-popup-wrapper b,
.dex-popup-wrapper strong {
  font-weight: bold;
}
.dex-popup-wrapper dfn {
  font-style: italic;
}
.dex-popup-wrapper hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.dex-popup-wrapper mark {
  background: #ff0;
  color: #000;
}
.dex-popup-wrapper code,
.dex-popup-wrapper kbd,
.dex-popup-wrapper pre,
.dex-popup-wrapper samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.dex-popup-wrapper pre {
  white-space: pre-wrap;
}
.dex-popup-wrapper q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.dex-popup-wrapper small {
  font-size: 80%;
}
.dex-popup-wrapper sub,
.dex-popup-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.dex-popup-wrapper sup {
  top: -0.5em;
}
.dex-popup-wrapper sub {
  bottom: -0.25em;
}
.dex-popup-wrapper img {
  border: 0;
}
.dex-popup-wrapper svg:not(:root) {
  overflow: hidden;
}
.dex-popup-wrapper figure {
  margin: 0;
}
.dex-popup-wrapper fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.dex-popup-wrapper legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
.dex-popup-wrapper button,
.dex-popup-wrapper input,
.dex-popup-wrapper select,
.dex-popup-wrapper textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
.dex-popup-wrapper button,
.dex-popup-wrapper input {
  line-height: normal;
}
.dex-popup-wrapper button,
.dex-popup-wrapper select {
  text-transform: none;
}
.dex-popup-wrapper button,
.dex-popup-wrapper html input[type="button"],
.dex-popup-wrapper input[type="reset"],
.dex-popup-wrapper input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
.dex-popup-wrapper button[disabled],
.dex-popup-wrapper html input[disabled] {
  cursor: default;
}
.dex-popup-wrapper input[type="checkbox"],
.dex-popup-wrapper input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
.dex-popup-wrapper input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
.dex-popup-wrapper input[type="search"]::-webkit-search-cancel-button,
.dex-popup-wrapper input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.dex-popup-wrapper button::-moz-focus-inner,
.dex-popup-wrapper input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.dex-popup-wrapper textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
.dex-popup-wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dex-popup-wrapper h1 {
  margin: 0.4em 0;
  font-family: SourceSansRegular, Helvetica, Arial, sans-serif;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}
.dex-popup-wrapper h2 {
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: SourceSansLight, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #477725;
  text-align: center;
  text-shadow: 0 1px 1px white;
}
.dex-popup-wrapper h2:first-of-type {
  padding-top: 0;
}
.dex-popup-wrapper h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: SourceSansRegular, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: #477725;
}
.dex-popup-wrapper h3:first-of-type {
  margin-top: 0;
}
.dex-popup-wrapper h4 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: SourceSansRegular, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  text-align: center;
  color: #477725;
}
.dex-popup-wrapper p {
  padding-top: 2px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303030;
}
.dex-popup-wrapper a {
  color: #d1570d;
}
.dex-popup-wrapper a:hover {
  color: #e9610e;
}
.dex-popup-wrapper a:visited {
  color: #b94d0c;
}
.dex-popup-wrapper a.button,
.dex-popup-wrapper button.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px 0 #6cb538;
  -moz-box-shadow: inset 0 0 3px 0 #6cb538;
  box-shadow: inset 0 0 3px 0 #6cb538;
}
.dex-popup-wrapper a.button:hover,
.dex-popup-wrapper button.button:hover,
.dex-popup-wrapper a.button:focus,
.dex-popup-wrapper button.button:focus {
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  color: white;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.dex-popup-wrapper a.button:active,
.dex-popup-wrapper button.button:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.dex-popup-wrapper a.button.left,
.dex-popup-wrapper button.button.left {
  float: left;
}
.dex-popup-wrapper a.button.right,
.dex-popup-wrapper button.button.right {
  float: right;
}
.dex-popup-wrapper a.button.indent,
.dex-popup-wrapper button.button.indent {
  margin-left: 20px;
}
.dex-popup-wrapper a.alert-button,
.dex-popup-wrapper button.alert-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px 0 #6cb538;
  -moz-box-shadow: inset 0 0 3px 0 #6cb538;
  box-shadow: inset 0 0 3px 0 #6cb538;
  border-color: #933d09;
  border-top-color: #af490b;
  border-left-color: #af490b;
  background-color: #b94d0c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d1570d), to(#b94d0c));
  background-image: -webkit-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -moz-linear-gradient(top, #d1570d, #b94d0c);
  background-image: -o-linear-gradient(top, #d1570d, #b94d0c);
  background-image: linear-gradient(to bottom, #d1570d, #b94d0c);
  -webkit-box-shadow: inset 0 0 3px 0 #f3813d;
  -moz-box-shadow: inset 0 0 3px 0 #f3813d;
  box-shadow: inset 0 0 3px 0 #f3813d;
}
.dex-popup-wrapper a.alert-button:hover,
.dex-popup-wrapper button.alert-button:hover,
.dex-popup-wrapper a.alert-button:focus,
.dex-popup-wrapper button.alert-button:focus {
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  color: white;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.dex-popup-wrapper a.alert-button:active,
.dex-popup-wrapper button.alert-button:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.dex-popup-wrapper a.alert-button.left,
.dex-popup-wrapper button.alert-button.left {
  float: left;
}
.dex-popup-wrapper a.alert-button.right,
.dex-popup-wrapper button.alert-button.right {
  float: right;
}
.dex-popup-wrapper a.alert-button.indent,
.dex-popup-wrapper button.alert-button.indent {
  margin-left: 20px;
}
.dex-popup-wrapper a.alert-button:hover,
.dex-popup-wrapper button.alert-button:hover,
.dex-popup-wrapper a.alert-button:focus,
.dex-popup-wrapper button.alert-button:focus {
  border-color: #893909;
  background-color: #a1430a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#be4f0c), to(#a1430a));
  background-image: -webkit-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -moz-linear-gradient(top, #be4f0c, #a1430a);
  background-image: -o-linear-gradient(top, #be4f0c, #a1430a);
  background-image: linear-gradient(to bottom, #be4f0c, #a1430a);
}
.dex-popup-wrapper a.alert-button:active,
.dex-popup-wrapper button.alert-button:active {
  background-color: #d1570d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b94d0c), to(#d1570d));
  background-image: -webkit-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -moz-linear-gradient(top, #b94d0c, #d1570d);
  background-image: -o-linear-gradient(top, #b94d0c, #d1570d);
  background-image: linear-gradient(to bottom, #b94d0c, #d1570d);
}
.dex-popup-wrapper a.inline-button,
.dex-popup-wrapper button.inline-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 1px solid #294415;
  border-top-color: #375c1d;
  border-left-color: #375c1d;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #3b641f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#477725), to(#3b641f));
  background-image: -webkit-linear-gradient(top, #477725, #3b641f);
  background-image: -moz-linear-gradient(top, #477725, #3b641f);
  background-image: -o-linear-gradient(top, #477725, #3b641f);
  background-image: linear-gradient(to bottom, #477725, #3b641f);
  -webkit-box-shadow: inset 0 0 3px 0 #6cb538;
  -moz-box-shadow: inset 0 0 3px 0 #6cb538;
  box-shadow: inset 0 0 3px 0 #6cb538;
  margin: 0 4px;
  padding: 4px 12px;
}
.dex-popup-wrapper a.inline-button:hover,
.dex-popup-wrapper button.inline-button:hover,
.dex-popup-wrapper a.inline-button:focus,
.dex-popup-wrapper button.inline-button:focus {
  border: 1px solid #294415;
  border-top-color: #19290d;
  border-left-color: #19290d;
  color: white;
  background-color: #305019;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#305019));
  background-image: -webkit-linear-gradient(top, #3b641f, #305019);
  background-image: -moz-linear-gradient(top, #3b641f, #305019);
  background-image: -o-linear-gradient(top, #3b641f, #305019);
  background-image: linear-gradient(to bottom, #3b641f, #305019);
}
.dex-popup-wrapper a.inline-button:active,
.dex-popup-wrapper button.inline-button:active {
  background-color: #477725;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3b641f), to(#477725));
  background-image: -webkit-linear-gradient(top, #3b641f, #477725);
  background-image: -moz-linear-gradient(top, #3b641f, #477725);
  background-image: -o-linear-gradient(top, #3b641f, #477725);
  background-image: linear-gradient(to bottom, #3b641f, #477725);
}
.dex-popup-wrapper a.inline-button.left,
.dex-popup-wrapper button.inline-button.left {
  float: left;
}
.dex-popup-wrapper a.inline-button.right,
.dex-popup-wrapper button.inline-button.right {
  float: right;
}
.dex-popup-wrapper a.inline-button.indent,
.dex-popup-wrapper button.inline-button.indent {
  margin-left: 20px;
}
.dex-popup-wrapper a.list-button,
.dex-popup-wrapper button.list-button,
.dex-popup-wrapper a.list-button:visited,
.dex-popup-wrapper button.list-button:visited {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #dedede;
  border-top-color: #ededed;
  border-left-color: #ededed;
  color: #303030;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  line-height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  -webkit-box-shadow: inset 0 0 #ffffff 0 3px;
  -moz-box-shadow: inset 0 0 #ffffff 0 3px;
  box-shadow: inset 0 0 #ffffff 0 3px;
}
.dex-popup-wrapper a.list-button:hover,
.dex-popup-wrapper button.list-button:hover,
.dex-popup-wrapper a.list-button:visited:hover,
.dex-popup-wrapper button.list-button:visited:hover,
.dex-popup-wrapper a.list-button:focus,
.dex-popup-wrapper button.list-button:focus,
.dex-popup-wrapper a.list-button:visited:focus,
.dex-popup-wrapper button.list-button:visited:focus {
  color: black;
  border: 1px solid #dedede;
  border-top-color: #cccccc;
  border-left-color: #cccccc;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
}
.dex-popup-wrapper a.list-button:active,
.dex-popup-wrapper button.list-button:active,
.dex-popup-wrapper a.list-button:visited:active,
.dex-popup-wrapper button.list-button:visited:active {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -moz-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: -o-linear-gradient(top, #f2f2f2, #ffffff);
  background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);
}
.dex-popup-wrapper a.list-button.dropdown-select,
.dex-popup-wrapper button.list-button.dropdown-select,
.dex-popup-wrapper a.list-button:visited.dropdown-select,
.dex-popup-wrapper button.list-button:visited.dropdown-select {
  border-right: 0;
}
.dex-popup-wrapper label {
  display: block;
  float: left;
  margin-top: 8px;
  padding-top: 6px;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
.dex-popup-wrapper label.radio {
  float: none;
  margin-top: 8px;
  padding: 0;
  width: auto;
  line-height: 29px;
  font-size: inherit;
  font-weight: inherit;
  text-align: left;
}
.dex-popup-wrapper label.radio + .dex-popup-wrapper label.radio {
  margin: 0;
  margin-left: 200px;
}
.dex-popup-wrapper input,
.dex-popup-wrapper select,
.dex-popup-wrapper textarea {
  float: left;
  margin: 8px 0 8px 10px;
  padding: 4px 6px;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 250px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: -moz-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: -o-linear-gradient(top, #f8f8f8, #ffffff);
  background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
  font-size: 16px;
  letter-spacing: 0.1em;
}
.dex-popup-wrapper input.unused,
.dex-popup-wrapper select.unused,
.dex-popup-wrapper textarea.unused {
  border: 1px solid #F0F0F0;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: -o-linear-gradient(top, #f8f8f8, #f8f8f8);
  background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.dex-popup-wrapper input.hidden,
.dex-popup-wrapper select.hidden,
.dex-popup-wrapper textarea.hidden {
  display: none;
}
.dex-popup-wrapper input[type="radio"],
.dex-popup-wrapper select[type="radio"],
.dex-popup-wrapper textarea[type="radio"] {
  margin-right: 8px;
  width: auto;
}
.dex-popup-wrapper textarea {
  min-height: 5em;
  max-width: 680px;
}
.dex-popup-wrapper form {
  margin: 0 auto;
  width: 500px;
}
.dex-popup-wrapper form > h3 {
  margin-top: 10px;
}
.dex-popup-wrapper form > div {
  margin: 0;
  padding: 0;
  zoom: 1;
}
.dex-popup-wrapper form > div:before,
.dex-popup-wrapper form > div:after {
  content: "";
  display: table;
}
.dex-popup-wrapper form > div:after {
  clear: both;
}
.dex-popup-wrapper form .separator {
  clear: both;
  margin: 20px 0;
  border-bottom: solid 1px #E8E8E8;
}
.dex-popup-wrapper form .section-text {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #E8E8E8;
}
.dex-popup-wrapper form .errors {
  display: none;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 10px 20px;
  border: solid 1px #EED3D7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #F2DEDE;
  font-size: 95%;
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #B94A48;
}
.dex-popup-wrapper form .inline-error-below {
  margin-left: 210px;
}
.dex-popup-wrapper form .inline-error-below .box {
  top: -2px;
}
.dex-popup-wrapper form span.comma {
  float: left;
  padding-top: 13px;
  width: 10px;
  color: #666666;
  text-align: center;
}
.dex-popup-wrapper form ul {
  zoom: 1;
  margin: -32px 30px 0 200px;
  padding: 0;
}
.dex-popup-wrapper form ul:before,
.dex-popup-wrapper form ul:after {
  content: "";
  display: table;
}
.dex-popup-wrapper form ul:after {
  clear: both;
}
.dex-popup-wrapper form ul > li {
  float: left;
}
.dex-popup-wrapper form ul > li input {
  margin: 8px 0 0 10px;
}
.dex-popup-wrapper form ul > li:last-of-type span.comma {
  display: none;
}
.dex-popup-wrapper form input.array-item {
  /* all but first item */
}
.dex-popup-wrapper form input.array-item + span + .dex-popup-wrapper form input.array-item {
  margin-left: 210px;
}
.dex-popup-wrapper form .button {
  float: left;
  margin-left: 210px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-device-width: 1205px) {
  .dex-popup-wrapper form {
    width: 100%;
  }
  .dex-popup-wrapper form .section-text {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .dex-popup-wrapper form .separator {
    margin: 10px 0;
  }
  .dex-popup-wrapper form ul {
    margin: 0;
  }
  .dex-popup-wrapper form ul > li {
    float: none;
  }
  .dex-popup-wrapper form ul > li input {
    margin: 0;
    margin-top: 8px;
  }
  .dex-popup-wrapper form ul > li span.comma {
    display: none;
  }
  .dex-popup-wrapper form .button {
    margin-left: 0px;
  }
  .dex-popup-wrapper label {
    float: none;
    text-align: left;
    width: 100%;
  }
  .dex-popup-wrapper input,
  .dex-popup-wrapper select,
  .dex-popup-wrapper textarea {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
.dex-popup-wrapper ul {
  padding: 0;
  list-style-type: none;
}
.dex-popup-wrapper ul.table,
.dex-popup-wrapper ul.small-table {
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
.dex-popup-wrapper ul.table > li,
.dex-popup-wrapper ul.small-table > li {
  border-top: 1px solid #e6e6e6;
  height: 33px;
  background-color: #ffffff;
  font-size: 90%;
}
.dex-popup-wrapper ul.table > li:after,
.dex-popup-wrapper ul.small-table > li:after {
  display: block;
  content: " ";
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}
.dex-popup-wrapper ul.table > li:nth-child(odd),
.dex-popup-wrapper ul.small-table > li:nth-child(odd) {
  background-color: #fafafa;
}
.dex-popup-wrapper ul.table > li:first-of-type,
.dex-popup-wrapper ul.small-table > li:first-of-type {
  border-top: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.dex-popup-wrapper ul.table > li:first-of-type > div:first-of-type,
.dex-popup-wrapper ul.small-table > li:first-of-type > div:first-of-type {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
.dex-popup-wrapper ul.table > li:first-of-type > div:last-of-type,
.dex-popup-wrapper ul.small-table > li:first-of-type > div:last-of-type {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.dex-popup-wrapper ul.table > li:last-of-type,
.dex-popup-wrapper ul.small-table > li:last-of-type {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dex-popup-wrapper ul.table > li:last-of-type > div:first-of-type,
.dex-popup-wrapper ul.small-table > li:last-of-type > div:first-of-type {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dex-popup-wrapper ul.table > li:last-of-type > div:last-of-type,
.dex-popup-wrapper ul.small-table > li:last-of-type > div:last-of-type {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.dex-popup-wrapper ul.table > li:hover:not(:first-of-type) > div,
.dex-popup-wrapper ul.small-table > li:hover:not(:first-of-type) > div {
  background-color: #fde792;
}
.dex-popup-wrapper ul.table > li.unused,
.dex-popup-wrapper ul.small-table > li.unused {
  font-style: italic;
  color: #a0a0a0;
}
.dex-popup-wrapper ul.table > li > div,
.dex-popup-wrapper ul.small-table > li > div {
  float: left;
  padding: 5px 15px;
  line-height: 22px;
  height: 32px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}
.dex-popup-wrapper ul.table > li > div *,
.dex-popup-wrapper ul.small-table > li > div * {
  line-height: 100%;
}
.dex-popup-wrapper ul.small-table {
  width: 502px;
}
.dex-popup-wrapper ul.grid {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
.dex-popup-wrapper ul.grid li {
  display: inline-block;
  padding: 25px 15px;
  border: #fafafa 1px solid;
}
.dex-popup-wrapper ul.grid li:hover {
  background-color: #f2f2f2;
}
@media only screen and (max-device-width: 1205px) {
  .dex-popup-wrapper ul.table > li > div,
  .dex-popup-wrapper ul.small-table > li > div {
    padding: 5px 5px;
  }
  .dex-popup-wrapper ul.grid li {
    padding: 15px 5px;
  }
}
.dex-popup-wrapper #assets #upload {
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px dashed #477725;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #a9cc66;
  width: 600px;
}
.dex-popup-wrapper #assets #upload.drag {
  background-color: #bfd98c;
}
.dex-popup-wrapper #assets #upload > #drop-mask {
  display: none;
  margin: -1px;
  position: absolute;
  z-index: 99;
}
.dex-popup-wrapper #assets #upload #drop {
  position: relative;
  margin: 30px 50px;
  height: 70px;
  text-align: center;
}
.dex-popup-wrapper #assets #upload #drop span {
  line-height: 200%;
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-size: 18px;
  color: #303030;
}
.dex-popup-wrapper #assets #upload ul {
  margin: 0 20px;
  font-family: Georgia, Cambria, "Times New Roman", "Bitstream Charter", Times, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 12px;
  color: #303030;
}
.dex-popup-wrapper #assets #upload ul li {
  height: 16px;
  line-height: 16px;
  padding-left: 2em;
}
.dex-popup-wrapper #assets #upload ul li i {
  float: left;
  margin-left: -2em;
  vertical-align: middle;
  height: 16px;
  line-height: 16px;
}
.dex-popup-wrapper #assets #upload ul li:last-of-type {
  margin-bottom: 20px;
}
.dex-popup-wrapper #assets #upload ul li.done {
  color: #477725;
}
.dex-popup-wrapper #assets #upload ul li.fail {
  color: #B94A48;
}
.dex-popup-wrapper #assets #upload input {
  display: none;
}
.dex-popup-wrapper #assets #upload #knob {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -32px;
  width: 64px;
  height: 64px;
}
.dex-popup-wrapper #assets #upload #big-knob {
  position: absolute;
  top: 0;
  left: 0;
}
.dex-popup-wrapper #assets #upload #small-knob {
  position: absolute;
  top: 8px;
  left: 8px;
}
.dex-popup-wrapper #assets #create-directory {
  zoom: 1;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 600px;
  overflow: hidden;
}
.dex-popup-wrapper #assets #create-directory:before,
.dex-popup-wrapper #assets #create-directory:after {
  content: "";
  display: table;
}
.dex-popup-wrapper #assets #create-directory:after {
  clear: both;
}
.dex-popup-wrapper #assets #create-directory div.create-directory-input {
  overflow: hidden;
}
.dex-popup-wrapper #assets #create-directory input {
  width: 100%;
  margin: 0;
  float: none;
}
.dex-popup-wrapper #assets #create-directory a {
  height: 27px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 1px;
  line-height: 19px;
  float: right;
}
.dex-popup-wrapper #assets #breadcrumbs {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 600px;
  font-size: 90%;
}
.dex-popup-wrapper #assets #breadcrumbs a {
  padding: 0 5px;
}
.dex-popup-wrapper #assets #directories-assets {
  margin-bottom: 20px;
  width: 602px;
}
.dex-popup-wrapper #assets #directories-assets li {
  background-color: #fafafa;
}
.dex-popup-wrapper #assets #directories-assets li:nth-child(odd) {
  background-color: #ffffff;
}
.dex-popup-wrapper #assets #directories-assets li.directory > div:first-of-type {
  cursor: pointer;
}
.dex-popup-wrapper #assets #directories-assets li img {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 3px;
}
.dex-popup-wrapper #assets #directories-assets li a {
  text-decoration: none;
}
.dex-popup-wrapper #assets #directories-assets li div:last-of-type {
  display: none;
}
.dex-popup-wrapper #assets #directories-assets li:hover div:last-of-type {
  display: block;
}
.dex-popup-wrapper #assets #directories-assets li div:nth-child(1) {
  width: 72%;
}
.dex-popup-wrapper #assets #directories-assets li div:nth-child(2) {
  width: 21%;
}
.dex-popup-wrapper #assets #directories-assets li div:nth-child(3) {
  width: 7%;
}
.dex-popup-wrapper #assets #images li {
  position: relative;
  vertical-align: top;
}
.dex-popup-wrapper #assets #images li .delete {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 90%;
}
.dex-popup-wrapper #assets #images li:hover .delete {
  display: block;
}
.dex-popup-wrapper #assets #images li .caption {
  overflow: hidden;
  font-size: 11px;
  text-align: center;
  white-space: nowrap;
}
.dex-popup-wrapper #assets #images li img {
  margin: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.dex-popup-wrapper #assets #images li img.small {
  margin: 10px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
@media only screen and (max-device-width: 1205px) {
  .dex-popup-wrapper #assets #upload,
  .dex-popup-wrapper #assets #create-directory,
  .dex-popup-wrapper #assets #breadcrumbs,
  .dex-popup-wrapper #assets #directories-assets {
    width: 100%;
  }
  .dex-popup-wrapper #assets #images li img {
    width: 100px;
    height: 50%;
  }
}
.dex-popup-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dex-popup-wrapper h2 {
  margin-top: 0;
  padding-bottom: 0;
}
.dex-popup-wrapper h3 {
  margin-left: 50px;
  margin-right: -50px;
}
.dex-popup-wrapper .popup > div {
  width: 600px;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  margin: 30px 0;
}
.dex-popup-wrapper .popup > div:not(:first-of-type) {
  display: none;
}
.dex-popup-wrapper .popup .load-status > div {
  display: none;
  min-width: 100%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dex-popup-wrapper .popup .load-status > div.empty {
  color: #D0D0D0;
  font-style: italic;
}
.dex-popup-wrapper .popup .load-status > div.error {
  color: #D11F49;
}
.dex-popup-wrapper .popup #external-link {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 30px;
}
.dex-popup-wrapper .popup #external-link div.external-link-input {
  overflow: hidden;
}
.dex-popup-wrapper .popup #external-link input {
  margin: 0;
  width: 100%;
  float: none;
}
.dex-popup-wrapper .popup #external-link a {
  height: 27px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: 1px;
  line-height: 19px;
  float: right;
}
.dex-popup-wrapper .popup #links li:not(:first-of-type):hover {
  cursor: pointer;
}
.dex-popup-wrapper .popup #assets {
  width: 600px;
}
.dex-popup-wrapper .popup #assets #upload {
  width: 500px;
}
.dex-popup-wrapper .popup #assets #breadcrumbs {
  width: 500px;
}
.dex-popup-wrapper .popup #assets #directories-assets {
  width: 502px;
}
.dex-popup-wrapper .popup #assets #directories-assets li.asset:hover {
  cursor: pointer;
}
.dex-popup-wrapper .popup #assets #images li:hover {
  cursor: pointer;
}
@media only screen and (max-device-width: 1205px) {
  body {
    padding-top: 23px;
  }
  .dex-admin-bar {
    font-size: 70%;
    height: 23px;
  }
  .dex-admin-bar > div {
    height: 18px;
  }
  .dex-admin-bar .navigate,
  .dex-admin-bar .current-user,
  .dex-admin-bar .dexedit-insert {
    line-height: 18px;
  }
  .mobile-hide {
    display: none;
  }
}
