#upload {
    width:400px;
    margin:10px auto;
    background-color: #A9CC66;
    border: 1px dashed #477725;
    border-radius: 3px;
}

#upload #drop {
    position: relative;
    text-align: center;
    margin:30px 50px;
    height:70px;
}

#upload #drop span {
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    text-shadow: rgba(255,255,255,0.75) 0 1px 0;

    font-size:18px;
    color:#303030;
    line-height:200%;
}

#upload ul {
    font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    color:#303030;
    font-size:12px;
    margin:0 20px;
    margin-bottom:20px;
}

#upload ul li {
    height: 16px;
    line-height: 16px;
}

#upload ul li.done {
    color:#477725;
}

#upload ul li.fail {
    color:#B94A48;
}

#upload ul li span {
    display:inline-block;
    width: 16px;
    height: 16px;
    background: url('../core/images/loading_green.gif') no-repeat;
    vertical-align: middle;
}

#upload ul li.done span {
    background: url('../core/images/upload_icons.png') no-repeat;
    height:13px;
}

#upload ul li.fail span {
    background: url('../core/images/upload_icons.png') no-repeat;
    background-position: 0 -13px;
    height:13px;
}

#upload input {
    display:none;
}

#upload #knob {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top:-32px;
    width:64px;
    height:64px;
}

#upload #big-knob {
    position: absolute;
    top:0;
    left:0;
}

#upload #small-knob {
    position: absolute;
    top:8px;
    left:8px;
}