non-server/images/
non-server/less/groningenbijles/
non-server/dex.sublime-project
non-server/dex.sublime-workspace
themes/groningenbijles/

assets/
cache/
logs/

*.min.css
*.min.js

dex.db
GRONINGENBIJLES.md
console.txt