@import "_mixins.less";

body {
    font-size:100%;
    line-height:125%;
    background-color:#F0F0F0;
}

.page-wrapper {
    width:60em;
    margin:0 auto;
    padding:2em;
    background-color:white;
}
