.popbox {
	position:relative;
}

.popbox p {
	padding:0;
}

.popbox .box {
	display:none;
	background:#FFF;
	border:solid 1px #BBBBBB;

  -webkit-border-radius:2px;
     -moz-border-radius:2px;
          border-radius:2px;

	position:absolute;
	z-index:999;

	max-width:600px;
	padding:10px 20px;
}

.popbox .arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #FFF;
	position:absolute;
	left:1px;
	top:-10px;
	z-index:1001;
}

.popbox .arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #BBBBBB;
	position:absolute;
	top:-12px;
	z-index:1000;
}
