.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.no-wrap {
	white-space: no-wrap;
}

span.amp {
	font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif;
	font-style: italic;
}