h2 {
	font-family:SourceSansLight, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2em;
	color:@base;
	text-align:center;
	padding-top:60px;
	padding-bottom:30px;

	.text-shadow(0 1px 1px rgba(255, 255, 255, 1));
}

h2:first-of-type {
	padding-top:0;
}

h3 {
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	color:@base;
	font-size:1.5em;
	margin-top:30px;
	margin-bottom:10px;
}

h3:first-of-type {
	margin-top:0;
}

h4 {
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	color:@base;
	text-align:center;
	font-size:1.1em;
	margin-top:10px;
	margin-bottom:0;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color:@text-black;
	padding-top:2px;
	padding-bottom:20px;
}

a {
	color:@alert;

	&:hover {
		color:lighten(@alert, 5%);
	}

	&:visited {
		color:darken(@alert, 5%);
	}
}