label {
	display: block;
	float: left;
	margin-top: 8px;
	padding-top: 5px;

	width: 200px;

	font-size: 15px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;

	&.radio {
		float: none;
		margin-top: 8px;
		padding: 0;

		width: auto;

		line-height: 29px;
		font-size: inherit;
		font-weight: inherit;
		text-align: left;

		& + & {
			margin: 0;
			margin-left: 200px;
		}
	}
}

input, select, textarea {
	float: left;
	margin: 8px 0 8px 10px;
	padding: 4px 6px;
	border: 1px solid #C0C0C0;
	.border-radius(4px);

	width: 250px;

	.css-gradient(#F8F8F8, #FFFFFF);
	font-size: 16px;
	letter-spacing: 0.1em;

	&.unused {
		border: 1px solid #F0F0F0;
		.css-gradient(#F8F8F8, #F8F8F8);
		.box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
	}

	&.hidden {
		display: none;
	}

	&[type="radio"] {
		margin-right: 8px;
		width: auto;
	}
}

textarea {
	min-height: 5em;
	max-width: 680px;
}

form {
	margin: 0 auto;
	width: 500px;

	>h3 {
		padding-top: 10px;
	}

	>div {
		margin: 0;
		padding: 0;
		.clearfix();
	}

	.separator {
		clear: both;
		margin: 20px 0;
		border-bottom: solid 1px #E8E8E8;
	}

	.section-text {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-bottom: 5px;
		border-bottom: solid 1px #E8E8E8;
	}

	.errors {
		display: none;
		margin-bottom: 15px;
		margin-left: 10px;
		padding: 10px 20px;
		border: solid 1px #EED3D7;
		.border-radius(3px);

		background: #F2DEDE;

		font-size: 95%;
		font-family: @serif;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #B94A48;
	}

	.input-error-below {
		margin-bottom: 8px;
		margin-left: 210px;

		.box {
			top: -2px;
			left: 0;
		}
	}

	span.equal {
		float: left;
		padding-top: 13px;
		width: 3em;
		color: #666666;
		text-align: center;
	}

	span.comma {
		float: left;
		padding-top: 13px;
		width: 10px;
		color: #666666;
		text-align: center;
	}

	ul {
		.clearfix();

		margin: -32px 30px 0 200px;
		padding: 0;

		>li {
			float: left;
		}

		>li input {
			margin: 8px 0 0 10px;
		}

		>li:last-of-type span.comma {
			display: none;
		}
	}

	input.array-item  {
		/* all but first item */
		& + span + & {
			margin-left: 210px;
		}
	}

	input.parameter-key {
		width: 75px;

		/* all but first key */
		input.parameter_val + & {
			margin-top: -10px;
			margin-left: 210px;
		}
	}

	input.parameter-val + input.parameter-key + span {
		margin-top: -5px;
	}

	input.parameter-val {
		margin-left: 0;
		width: 150px;

		/* all but first value */
		& + input.parameter-key + span + & {
			margin-top: -10px;
		}
	}

	.button {
		float: left;
		margin-left: 210px;
		margin-right: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}