form {
	width: 500px;
	margin:0 auto;
}

form > h3 {
	padding-top:10px;
}

form > p {
	overflow:hidden;
	margin:0;
	padding:0;
}

.form_separator {
	clear:both;
	border-bottom:solid 1px #E8E8E8;
	margin:20px 0;
}

.form_section_text {
	padding-left:10px;
	padding-bottom:5px;
	margin-bottom:20px;
	border-bottom:solid 1px #E8E8E8;
}

.form_response {
	margin-bottom:5px;
	margin-left:210px;

	height:1.5em;
	line-height:1.5em;

	.loading {
		display:none;
		vertical-align: middle;
		background:url('../core/images/loading.gif');
		width:16px;
		height:16px;
	}

	.success {
		display:none;
		vertical-align: middle;
		font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
		font-size: 13px;
		letter-spacing: 0.1em;
		color:@base;
		white-space:nowrap;
	}

	.error {
		.success();
		color:#B94A48;
	}
}

.form_errors {
	display:none;
	margin-bottom:15px;
	margin-left:10px;

	font-size:95%;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight:bold;

	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	color:#B94A48;
	background:#F2DEDE;
	border:solid 1px #EED3D7;
	.border-radius(3px);
	padding:10px 20px;
}

.form_item_error {
	display:none;
	margin-top:-2px;
	margin-bottom:8px;
	margin-left:210px;
}

.form_item_error .box {
	display:inline-block;
	background:#F2DEDE;
	border:solid 1px #EED3D7;
	.border-radius(5px);

	position:relative;
	z-index:999;
	padding:5px 10px;
}

.form_item_error .box .arrow {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #F2DEDE;
	position:absolute;
	top:-5px;
	left:5px;
	z-index:1001;
}

.form_item_error .box .arrow-border {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #EED3D7;
	position:absolute;
	top:-7px;
	left:5px;
	z-index:1000;
}

.form_item_error .box p {
	padding:0;
	margin:0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	color:#B94A48;
	font-size:70%;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight:bold;
	white-space:nowrap;
}

.form_item_error .box p i {
	font-size:150%;
	vertical-align: middle;
}

.form_item_error .box p span {
	vertical-align: middle;
}

label {
	display:block;
	float:left;
	font-size:15px;
	font-weight:bold;
	text-align:right;
	width:200px;
	white-space: nowrap;
	overflow:hidden;
	margin-top:8px;
	padding-top:5px;
}

input, select, textarea {
	border:1px solid #C0C0C0;
	.border-radius(4px);
	.css-gradient(#F8F8F8, #FFFFFF);
	float:left;
	font-size:16px;
	letter-spacing: 0.1em;
	padding:4px 6px;
	margin:8px 0 8px 10px;
	width:250px;

	&.unused {
		.css-gradient(#F8F8F8, #F8F8F8);
		border:1px solid #F0F0F0;
		.box-shadow(0, 0, 0, 0, rgba(0,0,0,0));
	}

	&.hidden {
		display:none;
	}
}

textarea {
	min-height:5em;
}

div.markdown-buttons {
	text-align:right;
	margin-left:-200px;
	width:900px;
}

div.markItUp {
	margin-top:-25px;
}

textarea.markdown {
	float:none;
	width:100%;
	font-size:12px;
	line-height:15px;
	font-family:monospace;
}

span.equal {
	float:left;
	padding-top:13px;
	color:#666666;
	width:3em;
	text-align:center;
}

span.comma {
	float:left;
	padding-top:13px;
	color:#666666;
	width:10px;
	text-align:center;
}

form ul {
	margin:-32px 30px 0 200px;
	padding:0;
}

form ul > li {
	overflow:hidden;
}

form ul > li input {
	margin:8px 0 0 10px;
}

form ul > li:last-of-type span.comma {
	display:none;
}

input.array_item  {
	/* all but first item */
	& + span + & {
		margin-left:210px;
	}
}

input.parameter_key {
	width:75px;

	/* all but first key */
	input.parameter_val + & {
		margin-top:-10px;
		margin-left:210px;
	}
}

input.parameter_val + input.parameter_key + span {
	margin-top:-5px;
}

input.parameter_val {
	width:150px;
	margin-left:0;

	/* all but first value */
	& + input.parameter_key + span + & {
		margin-top:-10px;
	}
}

.form_button {
	float:left;
	clear:both;
	margin-left:210px;
	margin-right:10px;
	padding-left:20px;
	padding-right:20px;
}