.inline-error-left,
.inline-error-right,
.inline-error-above,
.inline-error-below {
	display: none;

	.box {
		display: inline-block;
		padding: 5px 10px;
		border: solid 1px #E6CBCE;
		.border-radius(5px);

		background: #F2DEDE;
		position: relative;
		z-index: 999;

		p {
			margin: 0;
			padding: 0;

			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
			color: #B94A48;
			font-size: 70%;
			font-family: @serif;
			font-weight: bold;
			white-space: nowrap;

			i {
				font-size: 150%;
				vertical-align: middle;
			}

			span {
				vertical-align: middle;
			}
		}

		.arrow {
			border: 6px solid transparent;

			width: 0;
			height: 0;

			position: absolute;
			z-index: 1001;
		}

		.arrow-border {
			border: 6px solid transparent;

			width: 0;
			height: 0;

			position: absolute;
			z-index: 1000;
		}
	}
}

.inline-error-left {
	.box {
		top: -25px;
		right: 100%;
		float: right;
		margin-right: 6px;

		.arrow {
			border-right: 0;
			border-left: 6px solid #F2DEDE;
			top: 6px;
			right: -5px;
		}

		.arrow-border {
			border-right: 0;
			border-left: 6px solid #E6CBCE;
			top: 6px;
			right: -7px;
		}
	}
}

.inline-error-right {
	.box {
		top: -25px;
		left: 100%;
		margin-left: 6px;

		.arrow {
			border-left: 0;
			border-right: 6px solid #F2DEDE;
			top: 6px;
			left: -5px;
		}

		.arrow-border {
			border-left: 0;
			border-right: 6px solid #E6CBCE;
			top: 6px;
			left: -7px;
		}
	}
}

.inline-error-above {
	.box {
		bottom: 57px;
		left: 0;

		.arrow {
			border-bottom: 0;
			border-top: 6px solid #F2DEDE;
			bottom: -5px;
			left: 5px;
		}

		.arrow-border {
			border-bottom: 0;
			border-top: 6px solid #E6CBCE;
			bottom: -7px;
			left: 5px;
		}
	}
}

.inline-error-below {
	.box {
		top: 6px;
		left: 0;
		margin-bottom: 6px;

		.arrow {
			border-top: 0;
			border-bottom: 6px solid #F2DEDE;
			top: -5px;
			left: 5px;
		}

		.arrow-border {
			border-top: 0;
			border-bottom: 6px solid #E6CBCE;
			top: -7px;
			left: 5px;
		}
	}
}

label {
	display: block;
	float: left;
	margin-top: 8px;
	padding-top: 6px;

	width: 200px;

	font-size: 15px;
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;

	&.radio {
		float: none;
		margin-top: 8px;
		padding: 0;

		width: auto;

		line-height: 29px;
		font-size: inherit;
		font-weight: inherit;
		text-align: left;

		& + & {
			margin: 0;
			margin-left: 200px;
		}
	}
}

input, select, textarea {
	float: left;
	margin: 8px 0 8px 10px;
	padding: 4px 6px;
	border: 1px solid #C0C0C0;
	.border-radius(4px);

	width: 250px;

	.css-gradient(#F8F8F8, #FFFFFF);
	font-size: 16px;
	letter-spacing: 0.1em;

	&.unused {
		border: 1px solid #F0F0F0;
		.css-gradient(#F8F8F8, #F8F8F8);
		.box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
	}

	&.hidden {
		display: none;
	}

	&[type="radio"] {
		margin-right: 8px;
		width: auto;
	}
}

textarea {
	min-height: 5em;
	max-width: 680px;
}

form {
	margin: 0 auto;
	width: 500px;

	>h3 {
		margin-top: 10px;
	}

	>div {
		margin: 0;
		padding: 0;
		.clearfix();
	}

	.separator {
		clear: both;
		margin: 20px 0;
		border-bottom: solid 1px #E8E8E8;
	}

	.section-text {
		margin-bottom: 20px;
		padding-left: 10px;
		padding-bottom: 5px;
		border-bottom: solid 1px #E8E8E8;
	}

	.errors {
		display: none;
		margin-bottom: 15px;
		margin-left: 10px;
		padding: 10px 20px;
		border: solid 1px #EED3D7;
		.border-radius(3px);

		background: #F2DEDE;

		font-size: 95%;
		font-family: @serif;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		color: #B94A48;
	}

	.inline-error-below {
		margin-left: 210px;

		.box {
			top: -2px;
		}
	}

	.response {
		display: none;
		white-space: nowrap;

		>span {
			padding: 0 10px;
			vertical-align: middle;
			font-family: @sans-serif;
			font-size: 14px;

			>i {
				text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
				vertical-align: middle;
				font-size: 24px;
			}
		}

		>.success {
			color: #24c279;
		}

		>.error {
			color: #D11F49;
		}
	}

	span.comma {
		float: left;
		padding-top: 13px;
		width: 10px;
		color: #666666;
		text-align: center;
	}

	ul {
		.clearfix();

		margin: -32px 30px 0 200px;
		padding: 0;

		>li {
			float: left;
		}

		>li input {
			margin: 8px 0 0 10px;
		}

		>li:last-of-type span.comma {
			display: none;
		}
	}

	input.array-item  {
		/* all but first item */
		& + span + & {
			margin-left: 210px;
		}
	}

	.button {
		float: left;
		margin-left: 210px;
		margin-right: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 767px), (max-device-width: 1205px) {
	form {
		width: 100%;

		.section-text {
			margin-top: 0;
			margin-bottom: 10px;
		}

		.separator {
			margin: 10px 0;
		}

		ul {
			margin: 0;

			>li {
				float: none;

				input {
					margin: 0;
					margin-top: 8px;
				}

				span.comma {
					display: none;
				}
			}
		}

		.button {
			margin-left: 0px;
		}
	}

	label {
		float: none;
		text-align: left;
		padding-left: 0.5em;
		width: 100%;
	}

	input, select, textarea {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}