ul {
	padding: 0;
	list-style-type: none;
}

ul.table, ul.small-table {
	margin: 0 auto;
	border: 1px solid darken(@light, 10%);
	.border-radius(5px);
	width: 902px;

	>li {
		border-top: 1px solid darken(@light, 10%);
		height: 33px;
		background-color: @light;
		font-size: 90%;
	}

	>li:after {
	    display: block;
	    content: " ";
	    visibility: hidden;
	    clear: both;
	    height: 0;
	    font-size: 0;
	}

	>li:nth-child(odd) {
		background-color: darken(@light, 2%);
	}

	>li:first-of-type {
		border-top: 0;
		.border-top-left-radius(4px);
		.border-top-right-radius(4px);
		.css-gradient(darken(@light, 0%), darken(@light, 5%));

		font-family: @serif;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

		>div:first-of-type {
			.border-top-left-radius(4px);
		}

		>div:last-of-type {
			.border-top-right-radius(4px);
		}
	}

	>li:last-of-type {
		.border-bottom-left-radius(4px);
		.border-bottom-right-radius(4px);

		>div:first-of-type {
			.border-bottom-left-radius(4px);
		}

		>div:last-of-type {
			.border-bottom-right-radius(4px);
		}
	}

	>li:hover:not(:first-of-type) > div {
		background-color: @subtle;
	}

	>li.unused {
		font-style: italic;
		color: @text-grey;
	}

	>li > div {
		float: left;
		padding: 5px 15px;

		line-height: 22px;
		height: 32px;

		vertical-align: middle;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	>li > div * {
		line-height: initial;
	}
}

ul.small-table {
	width: 502px;
}

ul.grid {
	margin: 0 auto;
	overflow: hidden;
	text-align: center;

	li {
		display: inline-block;
		padding: 25px 15px;
	    border: darken(@light, 2%) 1px solid;

	    &:hover {
			background-color: darken(@light, 5%);
	    }
	}
}