@import "_mixins.less";
@import "_form.less";


/******************/
/* general layout */
/******************/

@font-face {
    .fontface("SourceSansRegular","../core/fonts/sourcesanspro-regular-webfont");
}

@font-face {
    .fontface("SourceSansLight","../core/fonts/sourcesanspro-light-webfont");
}

body {
	background:@dark;
	color:@light;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	text-align:justify;
}

.page-wrapper {
	display:none; /* gets faded in */
	margin:0 auto;
	width:1200px;
	color:@text-black;
}

.page-wrapper-slim {
	display:none; /* gets faded in */
	margin:0 auto;
	margin-bottom:40px;
	width:700px;
	color:@text-black;
}

h1 {
	margin: 20px 0;
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	font-size:50pt;
	text-align: center;
	color:@light;
}

.page-wrapper h1 {
	margin-left:200px;
}

.main {
	margin:8px 0;
	.border-radius(8px);
	.box-shadow(0, 2px, 5px, 0, rgba(0,0,0,0.45));
}

.header {
	background:#f2f2f2;
	border-top: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #e4e4e4;
	.border-top-left-radius(5px);
	.border-top-right-radius(5px);
}

.content {
	background-color:white;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #e4e4e4;
	.border-bottom-left-radius(5px);
	.border-bottom-right-radius(5px);
	padding: 40px 60px;
}

#user {
	color:#E0E0E0;
	font-size:90%;
	padding-bottom:5px;
	text-align:right;
}

#left-column {
	position:absolute;
	width: 200px;
	border-right:1px solid #808080;
}

#left-column ul {
	margin:0;
}

#left-column li > a {
	display:block;
	padding:6px 20px;
	text-decoration:none;
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:@text-black;
	letter-spacing:1px;
	background-color:#f0f0f0;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid #e8e8e8;
}

#left-column li > a#selected {
	background-color:@auxiliary;
	border-top:1px solid lighten(@auxiliary, 5%);
	border-bottom:1px solid darken(@auxiliary, 5%);
}

#left-column li > a:hover {
	background-color:@subtle;
	border-top:1px solid lighten(@subtle, 5%);
	border-bottom:1px solid darken(@subtle, 5%);
}

#left-column li.separator {
	height:3px;
	border:0;
	background-color:#808080;
	border-top:1px solid darken(@light, 5%);
	border-bottom:1px solid darken(@light, 5%);
}

#right-column {
	margin-left:200px;
	padding:30px 50px;
	width: 1006px;
	background:@light;
	border-left:3px solid darken(@light, 5%);
	border-right:3px solid darken(@light, 5%);
}


/*****************/
/* content types */
/*****************/

h2 {
	font-family:SourceSansLight, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 2em;
	color:@base;
	text-align:center;
	padding-top:60px;
	padding-bottom:30px;

	.text-shadow(0 1px 1px rgba(255, 255, 255, 1));
}

h2:first-of-type {
	padding-top:0;
}

.header h2 {
	padding-bottom:0;
	margin-bottom:10px;
}

h3 {
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	color:@base;
	font-size:1.5em;
	margin-top:30px;
	margin-bottom:10px;
}

h3:first-of-type {
	margin-top:0;
}

h4 {
	font-family:SourceSansRegular, Arial, Helvetica, sans-serif;
	color:@base;
	text-align:center;
	font-size:1.1em;
	margin-top:10px;
	margin-bottom:0;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	color:@text-black;
	padding-top:2px;
	padding-bottom:20px;
}

a {
	color:@alert;

	&:hover {
		color:lighten(@alert, 5%);
	}

	&:visited {
		color:darken(@alert, 5%);
	}
}

.button {
	font-size:14px;
}


/**********/
/* tables */
/**********/

ul {
	list-style-type:none;
	padding:0;
}

ul.table {
	width:902px;
	margin:0 auto;
	border:1px solid darken(@light, 10%);
	.border-radius(5px);

	>li {
		height:33px;
		border-top:1px solid darken(@light, 10%);
		font-size:90%;
		background-color:@light;
	}

	>li:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}

	>li:nth-child(odd) {
		background-color:darken(@light, 2%);
	}

	>li:first-of-type {
		border-top:0;
		.border-top-left-radius(5px);
		.border-top-right-radius(5px);
		.css-gradient(darken(@light, 0%), darken(@light, 5%));
		font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
		text-shadow: rgba(255,255,255,0.8) 0 1px 0;

		>div:first-of-type {
			.border-top-left-radius(5px);
		}

		>div:last-of-type {
			.border-top-right-radius(5px);
		}
	}

	>li:last-of-type {
		.border-bottom-left-radius(5px);
		.border-bottom-right-radius(5px);

		>div:first-of-type {
			.border-bottom-left-radius(5px);
		}

		>div:last-of-type {
			.border-bottom-right-radius(5px);
		}
	}

	>li:hover:not(:first-of-type) > div {
		background-color:@subtle;
	}

	>li.unused {
		font-style:italic;
		color:@text-grey;
	}

	>li > div {
		line-height:22px;

		float:left;
		padding:5px 15px;

		vertical-align: middle;

		white-space:nowrap;
		text-overflow:ellipsis;
		overflow: hidden;
	}

	>li > div * {
		line-height:initial;
	}
}

ul.grid {
	margin:0 auto;
	overflow:hidden;
	text-align:center;

	li {
		display:inline-block;
		padding:25px 15px;
	    border:darken(@light, 2%) 1px solid;

	    &:hover {
			background-color:darken(@light, 5%);
	    }
	}
}

ul.grid-3 {
	width:900px;

	>li {
		width:300px;
	}
}


/*****************/
/* page specific */
/*****************/

#database td {
	border:1px solid #e0e0e0;
	font-size:11px;
	padding:4px 8px;
}

#themes {
	li {
		cursor:pointer;

		h4, div {
			width:256px;
			overflow:hidden;
			text-align: center;
		}

		div {
			font-size:90%;
		}

		img {
			width:256px;
			height:256px;
			margin:10px 0;

		    .border-radius(3px);
		    .box-shadow(0, 1px, 1px);
		}
	}

	li.current {
		cursor:auto;
    	.css-gradient(lighten(@auxiliary, 10%), darken(@auxiliary, 10%));

    	h4 {
			color:white;
    	}
	}
}

#assets {
	#create_directory {
		margin:0 auto;
		width:400px;
		margin-bottom:30px;

		input {
			width:240px;
			margin:0;
			float:none;
		}

		a {
			width:150px;
			margin-left:10px;
			margin-right:0;
		}
	}

	#directories_assets {
		width:602px;
		margin-bottom:30px;

		img {
			vertical-align: middle;
			margin-right:10px;
		}
	}

	#images {
		li {
			position:relative;
			vertical-align: top;

			.delete {
				position:absolute;
				top:4px;
				right:4px;
				font-size:11px;
			}

			.caption {
				overflow:hidden;
				font-size:11px;
				text-align:center;
				white-space:nowrap;
			}

			img {
				margin:10px 0;

			    .border-radius(3px);
			    .box-shadow(0, 1px, 1px);
			}

			img.small {
				margin:10px 0;
			}
		}
	}
}

#api_error_link {
	display:none;
}

#api_error {
	display:none;
	white-space: pre;
	padding:0 15px;
}

#logs li:not(:first-of-type) {
	font-family:"Lucida Console", Monaco, monospace;
	font-size:10px;
	height:auto;
	border:0;

	background-color:white;

	&.error {
		background-color:@contrast;
		color:white;
	}

	&.warning {
		background-color:#B94A48;
		color:white;
	}

	&.notice {
		background-color:lighten(@auxiliary, 35%);
		color:#A0A0A0;
	}

	&.request {
		background-color:lighten(@auxiliary, 25%);
		color:#A0A0A0;
	}

	&.caching {
		background-color:lighten(@auxiliary, 30%);
		color:#A0A0A0;
	}

	&.empty {
		border-top:lighten(@auxiliary, 5%) 1px solid;
		border-bottom:lighten(@auxiliary, 5%) 1px solid;
	}

	&:hover {
		color:@text-black;
	}

	>div {
		line-height:100%;
	}
}


/**********/
/* simple */
/**********/

strong {
	font-weight:bold;
}

.left {
	float:left;
}

.text-right {
	text-align:right;
}

.centered {
	text-align:center;
}

.vertical_top {
	vertical-align: top;
}

.clear {
	clear:both;
}

.no-underline {
	text-decoration: none;
}

.no_wrap {
	white-space:nowrap;
}

.hidden {
	display:none;
}

.pre_wrap {
	white-space:pre-wrap;
}


/*********/
/* other */
/*********/

.markItUp {
	margin-left: -200px;
	padding-top:10px;
	width:900px;
}

.markItUpEditor {
	height:500px;
}

.disabled {
	font-style:italic;
	color:#C0C0C0;
}

.halfwidth-column {
	float:left;
	width:50%;

	padding:0 10px;
}

.progress_bar {
	display:inline-block;
	width:100%;
	height:14px;

    .border-radius(2px);

    background:darken(@light, 5%);
    border:darken(@light, 10%) 1px solid;
}

.progress_bar div.bar {
	position:relative;
	top:-2px;

	display:inline-block;
	height:14px;
	margin:0 -1px;

    .border-radius(2px);
    .css-gradient(lighten(@auxiliary, 5%), darken(@auxiliary, 5%));

    border:darken(@auxiliary, 10%) 1px solid;
}

.progress_bar div.bar_alert {
    .css-gradient(lighten(@alert, 5%), darken(@alert, 5%));

    border:darken(@alert, 10%) 1px solid;
}

a.halt {
	text-decoration: none;
}

a.sure {
  	display:none;
	text-decoration: none;
	background-color:#B94A48;
	color:white;
}

a.halt-stop {
	text-decoration:line-through;
}

.inline-rounded {
	.border-radius(2px);
	padding:0 2px;
}