@import "__include.less";
@import "_common.less";
@import "_api.less";
@import "_content.less";
@import "_buttons.less";
@import "_forms.less";
@import "_tables.less";

* {
	.border-box();
}

table {
	color: inherit;
}

strong {
	font-weight: bold;
}


/******************/
/* general layout */
/******************/

body {
	background: @dark;
	color: @light;
	font-family: @sans-serif;
	font-size: 100%;
	text-align: justify;
}

.page-wrapper {
	display: none;
	margin: 0 auto;
	width: 1200px;
	color: @text-black;
}

.page-wrapper-slim {
	display: none;
	margin: 0 auto;
	margin-bottom: 40px;
	width: 700px;
	color: @text-black;
}

.page-wrapper h1 {
	margin-left: 200px;
}

#main {
	margin: 8px 0;
	.border-radius(8px);
	.box-shadow(0, 2px, 5px, 0, rgba(0,0,0,0.45));
}

#main h2 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;

	background: #f2f2f2;
	border-top: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #e4e4e4;
	.border-top-left-radius(5px);
	.border-top-right-radius(5px);
}

#main #content, #main #error-content {
	background-color: white;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #e4e4e4;
	.border-bottom-left-radius(5px);
	.border-bottom-right-radius(5px);
	padding: 40px 60px;
}

#left-column {
	position: absolute;
	width: 200px;
	border-right: 1px solid #808080;
}

#left-column ul {
	margin: 0;
}

#left-column li > a {
	display: block;
	padding: 6px 20px;
	text-decoration: none;
	font-family: SourceSansRegular, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: @text-black;
	letter-spacing: 1px;
	background-color: #f0f0f0;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid #e8e8e8;
}

#left-column li:first-of-type > a {
	.border-top-left-radius(3px);
}

#left-column li:last-of-type > a {
	.border-bottom-left-radius(3px);
}

#left-column li > a.selected {
	background-color: @auxiliary;
	border-top: 1px solid lighten(@auxiliary, 5%);
	border-bottom: 1px solid darken(@auxiliary, 5%);
}

#left-column li > a:hover {
	background-color: @subtle;
	border-top: 1px solid lighten(@subtle, 5%);
	border-bottom: 1px solid darken(@subtle, 5%);
}

#left-column li.separator {
	min-height: 3px;
	height: 3px;
	border: 0;
	background-color: #808080;
	border-top: 1px solid darken(@light, 5%);
	border-bottom: 1px solid darken(@light, 5%);
}

#left-column li.hidden {
	display: none;
}

#right-column {
	margin-left: 200px;
	margin-bottom: 10px;
	padding: 30px 50px;
	width: 1007px; /* one spare pixel to prevent table bugs */
	background: @light;
	border-left: 3px solid darken(@light, 5%);
	border-right: 3px solid darken(@light, 5%);
}


/*****************/
/* page specific */
/*****************/

.stats-frame {
	display: none;
	width: 100%;
	height: 200px;
	border: 0;
}

.view-logs {
	margin-top: 10px;
}

#database td {
	border: 1px solid #e0e0e0;
	font-size: 11px;
	padding: 4px 8px;
}

#themes {
	li {
		cursor: pointer;

		h4, div {
			width: 256px;
			overflow: hidden;
			text-align: center;
		}

		div {
			font-size: 90%;
		}

		img {
			width: 256px;
			height: 256px;
			margin: 10px 0;

		    .border-radius(3px);
		    .box-shadow(0, 1px, 1px);
		}
	}

	li.current {
		cursor: auto;
    	.css-gradient(lighten(@auxiliary, 10%), darken(@auxiliary, 10%));

    	h4 {
			color: white;
    	}
	}
}

@import "_assets.less";

#logs, #latest-logs {
	li:not(:first-of-type) {
		font-family: "Lucida Console", Monaco, monospace;
		font-size: 10px;
		height: auto;
		border: 0;

		background-color: white;

		&.error {
			background-color: @contrast;
			color: white;
		}

		&.warning {
			background-color: #B94A48;
			color: white;
		}

		&.notice {
			background-color: lighten(@auxiliary, 35%);
			color: #808080;
		}

		&.request {
			background-color: lighten(@auxiliary, 25%);
			color: #808080;
		}

		&.caching {
			background-color: lighten(@auxiliary, 30%);
			color: #808080;
		}

		&.empty {
			border-top: lighten(@auxiliary, 5%) 1px solid;
			border-bottom: lighten(@auxiliary, 5%) 1px solid;
		}

		&:hover {
			color: @text-black;
		}

		>div {
			line-height: 100%;
			height: auto;
		}
	}

	li {
		cursor: pointer;

		>div:nth-child(1) {
			width: 17%;
		}

		>div:nth-child(2) {
			width: 83%;
		}
	}
}

#logs li {
	>div:nth-child(2) {
		width: 14%;
	}

	>div:nth-child(3) {
		width: 69%;
	}
}

#pages {
	li {
		div:last-of-type {
			display: none;
		}

		&:hover div:last-of-type {
			display: block;
		}

		input {
		    float:none;
		    margin:0;
		    width:100%;
		    height:24px;
		    font-size:14px;
		}

		>div:nth-child(1) {
			width: 9%;
		}

		>div:nth-child(2) {
			width: 22%;
			padding: 4px 15px;
		}

		>div:nth-child(3) {
			width: 22%;
			padding: 4px 15px;
		}

		>div:nth-child(4) {
			width: 42%;
			text-overflow: ellipsis;
		}

		>div:nth-child(5) {
			width: 5%;
		}
	}
}

#users li {
	>div:nth-child(1) {
		width: 14%;
		overflow:visible;
	}

	>div:nth-child(2) {
		width: 22%;
	}

	>div:nth-child(3) {
		width: 33%;
	}

	>div:nth-child(4) {
		width: 31%;
	}
}

#modules li, #templates li {
	>div:nth-child(1) {
		width: 14%;
		overflow:visible;
	}

	>div:nth-child(2) {
		width: 14%;
	}

	>div:nth-child(3) {
		width: 14%;
	}

	>div:nth-child(4) {
		width: 58%;
	}
}

#diskspace-total {
	font-size: 90%;
	margin-bottom: 5px;
}

#diskspace {
	overflow: hidden;

	>div {
		float: left;
		height: 10px;

		&:nth-child(1) {
			background-color: #0e90d2;
		}

		&:nth-child(2) {
			background-color: rgb(128, 88, 165);
		}

		&:nth-child(3) {
			background-color: #5eb95e;
		}

		&:nth-child(4) {
			background-color: #dd514c;
		}

		&:nth-child(5) {
			background-color: rgb(243, 123, 29);
		}

		&:nth-child(6) {
			background-color: rgb(250, 210, 50);
		}
	}
}

#diskspace-legend {
	overflow: hidden;
	margin-top: 10px;

	>div {
		float: left;
		font-size: 80%;
		padding-right: 5px;
		vertical-align: middle;
		line-height: 16px;

		>div {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}

		&:nth-child(1) > div {
			background-color: #0e90d2;
		}

		&:nth-child(2) > div {
			background-color: rgb(128, 88, 165);
		}

		&:nth-child(3) > div {
			background-color: #5eb95e;
		}

		&:nth-child(4) > div {
			background-color: #dd514c;
		}

		&:nth-child(5) > div {
			background-color: rgb(243, 123, 29);
		}

		&:nth-child(6) > div {
			background-color: rgb(250, 210, 50);
		}

		>span {
			color: #808080;
			font-size: 80%;
		}
	}
}

#warnings {
    margin-left: 1em;
	line-height: 150%;
	font-size: 90%;
    color: #B94A48;
}

#modules {
	li.disabled {
		font-style: italic;
		color: #C0C0C0;
	}
}

a.recover {
	margin-top:-35px;
	margin-right:-50px;
	float:right;
	font-size:90%;
}

.recovery > h3, .recovery > p {
	text-align: center;
}

#error-content {
	p {
		text-align: center;
	}

	p.error {
		margin-top: 10px;
		padding-bottom: 0;
		margin-bottom: 5px;
	}

	p.error-source {
		margin-top: 5px;
		margin-bottom: 20px;
		font-size: 90%;
	}

	table.backtrace {
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 80%;

		th, td {
			padding: 0 1em;
		}
	}
}


/*********/
/* other */
/*********/

a.halt {
	display: inline-block;
	text-decoration: none;
}

a.sure {
  	display: none;
	text-decoration: none;
	background-color: #B94A48;
	color: white;
}

a.halt-stop {
	text-decoration: line-through;
}

a.inline-rounded {
	.border-radius(2px);
	padding: 0 2px;
}