@import "__include.less";

[data-dexeditable] {
    outline: 0;
}

.dexedit_menu {
	display:none;
	position: absolute;
	z-index: 1000;
    color:#F0F0F0;

    .css-gradient(#414D54, @dark);
	.border-radius(4px);
  	.box-shadow(0, 0, 2px, 0, #262625);

  	>.arrow {
		position: absolute;
		bottom: -5px;

		margin-left: -5px;
		border-top: 5px solid @dark;
		border-bottom: 0;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;

		width: 0;
		height: 0;

		&.upsidedown {
			top: -5px;
			bottom:0;
			border-top: 0;
			border-bottom: 5px solid @dark;
		}
	}

	>span {
		display:inline-block;
		margin:0;
		padding:0;
		border-left:1px solid #414D54;
		border-right:1px solid @dark;

		width:32px;

		line-height:32px;
		text-align: center;
	    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
		font-size: 15px;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);

		cursor: pointer;

		&:not(.enabled):hover {
			border-left:1px solid #4c5961;
			border-right:1px solid #414D54;
		    .css-gradient(#4c5961, #414D54);
		}

		&.enabled, &.enabled:hover {
			border-left:1px solid #282F33;
			border-right:1px solid #282F33;
		    background-color:#282F33;
		}

		&:first-of-type, &:hover:first-of-type {
		    padding-left:2px;
		    border-left:0;
		    .border-top-left-radius(4px);
		    .border-bottom-left-radius(4px);
		}

		&:last-of-type, &:hover:last-of-type {
		    padding-right:2px;
		    border-right:0;
		    .border-top-right-radius(4px);
		    .border-bottom-right-radius(4px);
		}

		&#dexedit_menu_h4 {
			font-size:80%;
		}
	}
}