@import "__include.less";
@import "_api.less";

@font-face {
	.fontface("SourceSansRegular", "../core/fonts/sourcesanspro-regular-webfont");
}

@font-face {
	.fontface("SourceSansLight", "../core/fonts/sourcesanspro-light-webfont");
}

.dex-popup-wrapper {
	@import "normalize.less";

	overflow: hidden;
	white-space: nowrap;
	font-family: @sans-serif;
	font-size: 100%;
	text-align: justify;

	@import "_content.less";
	@import "_buttons.less";
	@import "_forms.less";
	@import "_tables.less";
	@import "_assets.less";

	* {
		.border-box();
	}

	h2 {
		margin-top: 0;
		padding-bottom: 0;
	}

	.popup {
		>div {
			min-width: 500px;
			vertical-align: middle;
			display: inline-block;
			white-space: normal;
			margin: 30px;
		}

		>div:not(:first-of-type) {
			display: none;
		}

		.load-status > div {
			display: none;
			min-width: 100%;
			width: 100%;
			text-align: center;
			white-space: nowrap;
			font-size: 12px;
			font-family: @sans-serif;

			&.empty {
				color: #D0D0D0;
				font-style: italic;
			}

			&.error {
				color: #D11F49;
			}
		}

		#external-link {
			margin: 0 auto;
			margin-bottom: 30px;
			max-width: 600px;

			div.external-link-input {
				overflow: hidden;
			}

			input {
				margin: 0;
				width: 100%;
				float: none;
			}

			a {
				height: 27px;
				margin-left: 10px;
				margin-right: 0;
				margin-top: 1px;
				line-height: 19px;
				float: right;
			}
		}

		#links {
			li:not(:first-of-type):hover {
				cursor: pointer;
			}
		}

		#assets {
			#directories-assets {
				li.asset:hover {
					cursor: pointer;
				}
			}

			#images li:hover {
				cursor: pointer;
			}
		}
	}
}