@import "__include.less";
@import "_api.less";

@font-face {
	.fontface("SourceSansRegular", "../core/fonts/sourcesanspro-regular-webfont");
}

@font-face {
	.fontface("SourceSansLight", "../core/fonts/sourcesanspro-light-webfont");
}

body {
	padding-top:33px;
}

.dex-admin-bar {
	padding: 2px 0;
	border-bottom: 1px solid #414D54;
	//border-bottom: 1px solid #161c21;

	background-color: #282F33;
	width: 100%;
	height: 33px;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 7999;

	color: #E0E0E0;
	font-family: @sans-serif;
	font-size: 14px;

	.border-box();

	a {
		color: #D1570D;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);

		&:hover {
			color: lighten(@alert, 5%);
		}

		&:visited {
			color: darken(@alert, 5%);
		}
	}

	>div {
		height: 28px;

		&:nth-child(2) {
			display: none;
		}
	}

	.navigate {
		display: inline-block;
		float: left;
		margin-left: 20px;
		line-height: 28px;

		a {
			text-decoration: none;
		}
	}

	.current-user {
		display: inline-block;
		float: right;
		margin-right: 20px;
		line-height: 28px;

		a {
			margin-left: 5px;
		}
	}

	.dexedit-insert {
		display: inline-block;
		margin-left: 100px;
		line-height: 28px;
	}
}

.dex-popup-wrapper {
	@import "normalize.less";

	width: 600px;
	overflow: hidden;
	white-space: nowrap;
	font-family: @sans-serif;
	font-size: 100%;
	text-align: justify;

	@import "_content.less";
	@import "_buttons.less";
	@import "_forms.less";
	@import "_tables.less";
	@import "_assets.less";

	* {
		.border-box();
	}

	h2 {
		margin-top: 0;
		padding-bottom: 0;
	}

	h3 {
		margin-left: 50px;
		margin-right: -50px;
	}

	.popup {
		>div {
			width: 600px;
			vertical-align: middle;
			display: inline-block;
			white-space: normal;
			margin: 30px 0;
		}

		>div:not(:first-of-type) {
			display: none;
		}

		.load-status > div {
			display: none;
			min-width: 100%;
			width: 100%;
			text-align: center;
			white-space: nowrap;
			font-size: 12px;
			font-family: @sans-serif;

			&.empty {
				color: #D0D0D0;
				font-style: italic;
			}

			&.error {
				color: #D11F49;
			}
		}

		#external-link {
			margin: 0 auto;
			width: 500px;
			margin-bottom: 30px;

			div.external-link-input {
				overflow: hidden;
			}

			input {
				margin: 0;
				width: 100%;
				float: none;
			}

			a {
				height: 27px;
				margin-left: 10px;
				margin-right: 0;
				margin-top: 1px;
				line-height: 19px;
				float: right;
			}
		}

		#links {
			li:not(:first-of-type):hover {
				cursor: pointer;
			}
		}

		#assets {
			width: 600px;

			#upload {
				width: 500px;
			}

			#breadcrumbs {
				width: 500px;
			}

			#directories-assets {
				width: 502px;

				li.asset:hover {
					cursor: pointer;
				}
			}

			#images li:hover {
				cursor: pointer;
			}
		}
	}
}