ul.draggable {
    overflow: hidden;
}

ul.draggable > li:not(:first-of-type) > div:first-of-type + div + div {
    padding: 4px 15px;
}

ul.draggable > li.placeholder {
    background-color: #A9CC66;
}

ul.draggable > li.draggee {
    position: absolute;
    z-index: 1;
    border-top-width: 0;
    width: 900px;
    height: 32px;
    cursor: move;
}

ul.table.draggable > li.draggee, ul.table.draggable > li.draggee > div {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.draggable i {
    display: inline-block;
    width: 40px;
    height: 21px;
    line-height: 21px;
    font-size: 17px;
}

ul.draggable i.fa-eye {
    cursor: pointer;
}

ul.draggable i.fa-bars {
    cursor: move;
}

ul.draggable > li input {
    float: none;
    margin: 0;
    width: 100%;
    height: 24px;
    font-size: 14px;
}

ul.draggable > li.unused input {
    color: #A0A0A0;
    font-style: italic;
}

#menu li > div:nth-child(1) {
    width: 5%;
}

#menu li > div:nth-child(2) {
    width: 14%;
}

#menu li > div:nth-child(3) {
    width: 28%;
}

#menu li > div:nth-child(4) {
    width: 22%;
}

#menu li > div:nth-child(5) {
    width: 31%;
}