.response {
    height:16px;
    text-align:right;
}

.response > .loading {
    display:none;
    vertical-align: middle;
    background:url('../core/images/loading.gif');
    width:16px;
    height:16px;
    margin-left:10px;
}

.response > .success {
    display: none;
    vertical-align: middle;
    font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    color:#477725;
    margin-left:10px;
    white-space:nowrap;
}

.response > .error {
    display: none;
    vertical-align: middle;
    font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    color:#B94A48;
    margin-left:10px;
    white-space:nowrap;
}

ul.table > li:not(.unused) > div:first-of-type + div {
    padding:2px 15px;
}

input {
    float:none;
    margin:0;
    font-size:15px;
    line-height:28px;
    height:28px;
    width:100%;
}

ul.table > li > div > span {
    display:none;
}

ul.table > li.unused input {
    display:none;
}

ul.table > li.unused > div > span {
    display:inline-block;
    height:22px;
    line-height:22px;
}